@import './node_modules/swiper/dist/css/swiper.min.css';

.swiper-container {
  width: 100%;
}

.swiper-slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

.swiper-gallery {
  display: flex;
  flex-direction: column;
  position: relative;
}

.swiper-gallery .swiper-container .swiper-slide {
  min-height: 400px;
}

.swiper-thumbs {
  min-height: 0;
  box-sizing: border-box;
  padding: 0;
  flex: 0 0 120px;
  overflow: hidden;
}

.swiper-thumbs .swiper-slide {
  width: 25%;
  height: 120px;
  opacity: 0.4;
  background-size: cover;
}

.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-container + .swiper-thumbs {
  margin-top: 0.5rem;
}
